<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ url_for('empresa') }}">Empresa</a></li>
                <li><a href="{{ url_for('fornecedores') }}">Fornecedores</a></li>
                <li><a href="{{ url_for('produtos') }}">Produtos</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>